doctype html
html
  head
    title Login Page
  body
    form(name="login", action="/login", method="post")
      input(type="hidden", name="client_id", value=client_id)
      input(type="hidden", name="response_type", value=response_type)
      input(type="hidden", name="scope", value=scope)
      input(type="text", name="email")
      input(type="password", name="password")
      input(type="submit", value="login")
